---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="關於我與這個網頁"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 11 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
    <h1>關於我</h1>
	<p>
		我是昭廷也可以用2TWu來稱呼我，我目前主要在鑽研資安相關領域的知識
		大多在密碼學.弱點掃描/滲透測試.TCP/IP這三個領域
		現在主要在HTB上學習和練習滲透測試相關的技術，也正在學習開發掃描工具
	</p>


	<br>
	<h1>關於這個網頁</h1>
	<p>
		這個網頁最主要的目的是用來記錄與展示我目前的學習紀錄，將我平常學習的筆記.打lab&CTF的紀錄給收錄進來
		最主要的初衷是希望不只是我自己能夠瀏覽，而是可以分享給跟我一樣正在學習相同事物的人來做分享
		最後，希望這個網站可以對你有幫助
	</p>
	
	<br>
	<p>
		這個網頁是使用cloudflare pages來做建構，用astro來當作前端主要的語言
	</p>

</Layout>
